
  <!-- <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let img of images">
      <div class="card">
        
        <div class="card">
            
            <div class="card-body">
              <a [routerLink]="['/tata', img.id]">
              <img src="{{img.imgSrc}}" class="card-img-top" alt="Product Image">
  
  
              <h5 class="card-title">{{img.id}}</h5>
              <p class="card-title">{{img.name}}</p>
              <p class="card-text">{{prod.text}}</p>
              <p class="card-text"><strong>Price: {{prod.price}}</strong></p> 
               <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div> 
      </div>
      </div>
    </div> -->
    <div>
<h1 style="margin-top: 5%;">Explore XCars</h1>

  <img src="https://www.bhmpics.com/downloads/carwale-wallpapers-photos/5.ciaz-exterior-right-front-three-quarter.jpeg" style="width: 60%;height: 600px;" class="d-block w-100" alt="..." >
</div>
<h3>About Us</h3>
<p>Priceline was founded in 1997 on the back of a brilliant original idea. Airlines regularly flew only two-thirds full, with millions of seats empty. A million hotel rooms might go unused every night. We thought, what if we harnessed the Internet to drive demand, filling those planes and hotels? And what if customers could make an offer – name their own price - rather than pay the full fare?</p><br>
<p>The airlines were skeptical. One seasoned executive straightforwardly told our founder Jay Walker that they’d be better off if Jay was “hit by a bus.” Jay conceded that a bus might get him, but the Internet wasn’t going away. The airlines needed it, even if they were wary of it.</p><br>
<p>One reason for airline skepticism was their desire to not disrupt pricing. In fact, that’s what “priceline” means. The “price line” is a point airlines didn’t want to sell below; if they sold seats at full price in one place, but put them on sale elsewhere, no one would pay full price.

  We saw a way around that. We knew there was a tremendous amount of demand that wasn’t being met – millions of people who wanted to travel, but wanted to pay less. If we let consumers bid for a seat, and the airlines accepted that bid privately, the “price line” would remain intact.</p><br>
<!--   
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let img of images">
        <div class="card">
          <div class="card-body">
    
            <a [routerLink]="['/tata', img.id]">
              <img src="{{img.imgSrc}}" class="card-img-top" alt="Product Image">
            </a>
            <h5 class="card-title">{{img.id}}</h5>
            <p class="card-title">{{img.name}}</p>
          </div>
        </div> 
      </div>
    </div> -->
    <!-- <h5>location:
      Gachibowli,<br>
      Aphb colony,<br>
      Near the Dlf <br> </h5> -->
      <!-- <div>
        <label for="location">city:</label>
        <select name="location" ngModel required>
            <option *ngFor="let city of cities" value="{{city.name}}">{{city.name}}</option>
           
        </select>
    </div> -->
    <!-- <img [src]="mapImageUrl" alt="Google Map"> -->

    <h2>Service:</h2>
    <div class="services-container">
        <div class="service">
            <p>pinky:</p>
            <p>Excellent service, very good driver,
                soft spoken, knowledgeable, helpful
                and adjusting. Thank you very much,
                we had a very great time. Before the
                journey, Divyendu and Sunil were very
                helpful on call, they made me
                comfortable.
            </p><br>
        </div>
        <div class="service">
            <p>chitti:</p>
            <p>Amazing experience! The car was well
                maintained and hygienic. Driver was
                very courteous and cooperative. He
                also had good communication skills.
                Overall a great experience.
            </p><br>
        </div>
        <div class="service">
          <p>Ajay:</p>
          <p>Tight situation.During our trip to the
            Delhi Airport there was farmers
            protest and road blocks were in
            position at least in three places
            combined with heavy fog. The driver
            took correct decision and arrived at
            the airport in a timely man
          </p><br>
      </div>
    </div>
    
    <!-- <div class="footer mt-5 bg-dark">
      <img class="img" src="assets/images/logo.jpeg" class="d-block w-10" alt="" style="height: 50px;">
          
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3">
                 
              </div>
               
              <div class="col-sm-6 col-md-3">
                  
              </div>
               
              <div class="col-sm-6 col-md-3">
                  <h6 style="color: whitesmoke;">
                      Browse by Brand<br>
                      View all Stock<br>
                      
                   
                      Services<br>
                    
                      Car Servicing/Bodyshop
                  </h6>
              </div>
             
              <div class="col-sm-6 col-md-3">
                  <h6 style="color: whitesmoke;">
                    <a routerLink="/home1">XCars</a><br>
                      <a routerLink="/about">About</a><br>
                      <a routerLink="/about">CustomerReviews</a><br>
                      <a routerLink="/terms">TermsConditions</a><br>
                      <a routerLink="/privacy">Privacy</a><br> -->
                      <!-- Blogs<br> -->
                      <!-- <a routerLink="/bookings">Career</a><br>
                  </h6>
              </div>
          </div>
      </div> -->
      <!-- style="color: whitesmoke; text-decoration: none;"> -->
      <!-- <p style="color:white; text-align:center">(c) Copyrights 2020 TATA Motors Private Limited. All rights reserved</p> -->
    <!-- </div> -->
    

    <div class="container" style="background-color: blanchedalmond;"></div>
<div class="footer mt-5 bg-dark">
  <img class="img" src="assets/images/logo.jpeg" class="d-block w-10" alt="" style="height: 50px;">
      
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-md-3">
             
          </div>
           
          <div class="col-sm-6 col-md-3">
              
          </div>
           
          <div class="col-sm-6 col-md-3">
              <h6 style="color: whitesmoke;">
                  Browse by Brand<br>
                  View all Stock<br>
                  
               
                  Services<br>
                
                  Car Servicing/Bodyshop
              </h6>
          </div>
         
          <div class="col-sm-6 col-md-3">
              <h6 style="color: whitesmoke;">
                <a routerLink="/home1">XCars</a><br>
                  <a routerLink="/about">About</a><br>
                  <a routerLink="/about">CustomerReviews</a><br>
                  <a routerLink="/terms">TermsConditions</a><br>
                  <a routerLink="/privacy">Privacy</a><br>
                  <!-- Blogs<br> -->
                  <a routerLink="/bookings">Career</a><br>
              </h6>
          </div>
      </div>
  </div>
  <!-- style="color: whitesmoke; text-decoration: none;"> -->
  <!-- <p style="color:white; text-align:center">(c) Copyrights 2020 TATA Motors Private Limited. All rights reserved</p> -->
</div>
