.container {
  display: flex;
  margin-top: 100px;
}

#image-side {
  flex: 1;
  /* Adjust the width of the image side as needed */
}

#image-side img {
  width: 100%; /* Ensure images fill the container width */
  height: auto; 
}

#text-side {
  flex: 1;
  padding: 0 20px; 
}

.theory {
  margin-bottom: 20px;
}

.theory h3 {
  color: #333;
}

.theory p {
  color: #555;
}
/* Styles for the pinky div */
.services-container {
  display: flex; /* Display children side by side */
  justify-content: space-around; /* Evenly distribute space between children */
  align-items: flex-start; /* Align items at the start */
}

.service {
  width: 25%; /* Set width for each service container */
  background-color: #f9f9f9; /* Background color */
  padding: 10px; /* Padding around the content */
  margin-right: 10px; /* Margin between services */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.service p {
  margin: 0; /* Remove default margin */
  font-size: 16px; /* Font size */
}
h5 {
  font-size: 18px; /* Font size */
  color: #333; /* Text color */
  margin-bottom: 20px; /* Bottom margin */
}
h1{
  text-align: center;
  text-decoration: overline;
  text-decoration: underline;
}
/* Body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
h1 {
  text-align: center;
  margin-top: 20px;
}

/* Main Content Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* About Section */
h3 {
  margin-top: 30px;
  font-size: 24px;
}

p {
  line-height: 1.6;
}

/* Service Section */
.services-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.service {
  flex-basis: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer .container h6 {
  font-size: 16px;
}

/* Logo */
.img {
  height: 50px;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  
  .services-container {
    flex-wrap: wrap;
  }
  
  .service {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}
