<!-- <h1 class="text-center mt-5">Angular 12 Google Pay Payment Gateway</h1>
<googlr-pay-button 
  environment="TEST" 
  buttonType="buy"
  buttonColor="black"
  [paymentRequest]="{
    apiVersion: 2,
    apiversionMinor: 0,
    allowedPaymentMethod: [{
      type: 'CARD',
      parameters: {
        allowedPaymentMethod: ['PAN_ONLY', 'CRYPTOGRAM_3DS'],
        allowedCardNetworks: ['amex', 'visa', 'MASTERCARD']
      },
      tokenizationSpecification: {
        type: 'PAYMENT_GATEWAY',
        parameters: {
          gateway: 'example',
          gatewayMerchantId: 'exampleGatewayMerchantId'
        }
      }
    }],
    merchantInfo: {
      merchantId: '123456789011234567890',
      merchantName: 'demo merchant'
    },
    transactionInfo: {
      totalPriceStatus: 'FINAL',
      totalPriceLabel: 'total',
      totalPrice: '100.00',
      currencyCode: 'USD',
      countryCode: 'US'
    }
  }"
  (onLoadPaymentData)="onLoadPaymentData($event)"
></googlr-pay-button> -->
<!-- <app-googlemap></app-googlemap> -->
<!-- <app-front></app-front>  -->
<app-header></app-header>

<!-- <app-login></app-login> -->
<!-- <app-showemployees></app-showemployees>
<app-product></app-product> -->
<!-- <app-register></app-register> -->
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->

