
<div class="background-image">

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="width: 100% ;height: 500x;" >
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
       
      </div>
      <div class="carousel-inner" style="border-radius: 25px; height: 60%">
        <div class="carousel-item active">
          <img src="https://s7ap1.scene7.com/is/image/tatapassenger/Home-Page-Banner?$BA-1920-925-D$&fit=crop&fmt=webp" class="d-block w-100" alt="..." >
        </div>
        <div class="carousel-item">
          <img src="https://stimg.cardekho.com/images/uploadimages/1709124916493/ZW-MasterHead-Desktop_1686x548px.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>

<h3 >Connecting U The Biggest Brands In Car Rental :</h3>
<div class="row">
  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6" *ngFor="let prod of products">
    <div class="card" style="width: 200px; text-align: center; margin-top: 20px; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
      <img [src]="prod.imgs" class="card-img" alt="Product Image">
      
    </div>
  </div>
  <!-- <div class="footer mt-5 bg-dark">
    <img class="img" src="assets/images/logo.jpeg" class="d-block w-10" alt="" style="height: 50px;">
       
        
       <div class="container">
           <div class="row">
             <div class="col-sm-6 col-md-4">
               <h5 style="color: whitesmoke;">
                   <br>
                   HOUFU Motors Private Limited
                   <br>
                   
                   (A unit of HOUFU Group)<br>
                   Cars99 is India’s leading MultiBrand Dealership,  
                   <br>
                    with over 30Yrs of Experience.</h5> 
             </div>
             
             <div class="col-sm-6 col-md-4">
               <h5 style="color: whitesmoke;">
               Browse by Brand<br>
View all Stock<br>
Sell Your Car<br>
Find Cars99 Nexus<br>
</h5>
  </div>
             <div class="col-sm-6 col-md-4">
               <h6 style="color: whitesmoke;">
                   Browse by Brand<br>
                   View all Stock<br>
                   Sell Your Car<br>
                   Find Cars99 Nexus<br>
                   Services<br>
                   Buy New Car<br>
                   Finance<br>
                   Insurance<br>
                   Detailing<br>
                   Car Servicing/Bodyshop</h6>
             </div>
           
         <div class="col-sm-6 col-md-4">
           <h6 style="color: whitesmoke;">
About Cars99<br>
About Us<br>
Customer Reviews<br>
Blogs<br>
Career<br>
</h6>
</div>
<p style="color:white ;text-align:center"  >(c) Copyrights 2024 HOUFU Motors Private Limited. All rights reserved</p>
</div> -->

<div class="footer mt-5 bg-dark">
  <img class="img" src="assets/images/logo.jpeg" class="d-block w-10" alt="" style="height: 50px;">
      
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-md-3">
             
          </div>
           
          <div class="col-sm-6 col-md-3">
              
          </div>
           
          <div class="col-sm-6 col-md-3">
              <h6 style="color: whitesmoke;">
                  Browse by Brand<br>
                  View all Stock<br>
                  
               
                  Services<br>
                
                  Car Servicing/Bodyshop
              </h6>
          </div>
         
          <div class="col-sm-6 col-md-3">
              <h6 style="color: whitesmoke;">
                <a routerLink="/home">  About XCars</a><br>
                  <a routerLink="/about">About</a><br>
                  <a routerLink="/about">Customer Reviews</a><br>
                  <!-- Blogs<br> -->
                  <a routerLink="/bookings">Career</a><br>
              </h6>
          </div>
      </div>
  </div>
  <!-- style="color: whitesmoke; text-decoration: none;"> -->
  <!-- <p style="color:white; text-align:center">(c) Copyrights 2020 TATA Motors Private Limited. All rights reserved</p> -->
</div>
