/* You can add these styles to your existing CSS file or include them in the <style> tag within the HTML file */

.container {
    padding: 20px;
  }
  
  .contact-form {
    margin-top: 20px;
  }
  
  .contact-form form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  textarea.form-control {
    resize: vertical; /* Allow vertical resizing of textarea */
  }
  
  .btn-primary {
    background-color: #007bff; /* Primary button color */
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* Button color on hover */
    border-color: #0056b3;
  }
  