<h1 style="margin-top: 5%;"><b>Privacy & Cookies Policy</b></h1>
<p>Your privacy and the security and confidentiality of your data is very important to us. You’ve placed your trust in us by using our services. We value that trust. We are committed to protecting and safeguarding any personal data that you give us. We want you to understand how we use your data and your rights regarding that data.</p>
<p> This Privacy & Cookies Policy explains how we collect, use, disclose, and process personal data through the Priceline website, the Priceline mobile site, our iPhone, Android and other mobile applications and any other online communications and interfaces (the "site"). If you are a business or a vendor partner with us, please find additional information here.

    Please read the Privacy & Cookies policy below to learn about our practices. By visiting the site, you acknowledge that you have read and understand the practices described in this policy.</p>