<div class="row">
    
    <div class="card">
        <div class="card-body d-flex">
            <div class="image-container">
                <img src="https://auto.mahindra.com/-/media/project/mahindra/dotcom/mahindra/dark-theme-mahindra-images/hello-bolero-classic/bolero-classic_-dark-theme-hello-xuv-specification-image-png-_840x560px.png?rev=dc9ba649d06d411a86c971219f0ca2cb">
            </div>
            <div class="content">
               
            <p>Mahindra & Mahindra was founded as a steel trading company on October 2, 1945, in Ludhiana as Mahindra & Mohammed by brothers Kailash Chandra Mahindra and Jagdish Chandra Mahindra, along with Malik Ghulam Muhammad</p>
           <h3><b>perday 800/-</b></h3>
          </div>
       
    </div>
</div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let img of images">
    <div class="card">
      
      <div class="card">
          
          <div class="card-body">
            <!-- <a [routerLink]="['/tata', img.id]"> -->
            <img src="{{img.imgsrc}}" class="card-img-top" alt="">


            <!-- <h5 class="card-title">{{img.id}}</h5> -->
            <!-- <p class="card-title">{{img.name}}</p> -->
            <!-- <p class="card-text">{{prod.text}}</p> -->
            <!-- <p class="card-text"><strong>Price: {{prod.price}}</strong></p>  -->
             <!-- <a href="#" class="btn btn-primary">Add to Cart</a> -->
          </div>
        </div> 
    </div>
    </div>
  </div>
