<!-- <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let img of images">
      <div class="card">
        
        <div class="card">
          
            <div class="card-body">
              <p>The Tata Nexon is a subcompact crossover SUV produced by the Indian automaker Tata Motors since 2017. It is the first crossover SUV from the brand and occupies the sub-4 meter crossover SUV segment in India.[2]The Nexon made its debut as a prototype exhibited at the Auto Expo 2014.[3] The final model was presented in February 2016.

                The Nexon is based on the revised Tata X1 platform that debuted in 1998 with the Indica model and was adopted by other Indian brand cars.[4] It uses an independent MacPherson dual-path strut with coil spring front suspensions and rear twist-beam with coil spring and shock absorber. The wheelbase is measured at 2,498 mm (98.3 in).</p>
              <img src="{{img.imgSrc}}" class="card-img-top" alt="Tata Image">
  
              <h5 class="card-title">{{img.id}}</h5>
              <h5 class="card-title">{{img.name}}</h5>
              <p class="card-title">{{img.cost}}</p>
              <p class="card-text">{{img.plateno}}</p>
            
             
            </div>
          </div> 
      </div>
      </div>
    </div> -->


    <div class="row" style="margin-top: 5%;">
    
      <div class="card">
          <div class="card-body d-flex">
              <div class="image-container">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/2018_Tata_Nexon_XM.jpg/420px-2018_Tata_Nexon_XM.jpg">
              </div>
              <div class="content">
                 
              <p>The Tata Nexon is a subcompact crossover SUV produced by the Indian automaker Tata Motors since 2017. It is the first crossover SUV from the brand and occupies the sub-4 meter crossover SUV segment in India.[2]The Nexon made its debut as a prototype exhibited at the Auto Expo 2014.[3] The final model was presented in February 2016. The Nexon is based on the revised Tata X1 platform that debuted in 1998 with the Indica model and was adopted by other Indian brand cars.[4] It uses an independent MacPherson dual-path strut with coil spring front suspensions and rear twist-beam with coil spring and shock absorber. The wheelbase is measured at 2,498 mm (98.3 in).The engines are developed by Tata Motors and Austrian engineering company AVL: the petrol engine is the 1.2 L Revotron three-cylinder turbo 12-valve that delivers 81 kW (109 hp; 110 PS) and 170 N⋅m (125 lbf⋅ft) of maximum torque combined with a 6-speed manual or 6-speed automated manual transmission (AMT); the diesel engine is a 1.5 L Revotorq four-cylinder common rail 16-valve that delivers 81 kW (109 hp; 110 PS) and 260 N⋅m (192 lbf⋅ft) of maximum torque, also paired with a 6-speed manual or 6-speed Automated manual transmission(AMT). Tata Nexon is available in eight variants for manual transmission – XE, XM, XMS, XM+S, XZ+, XZ+ LUX, and XZ+LUXS (XZ & XZ(O) are now discontinued). The Nexon has three special editions named Dark, Red Dark & Kaziranga. The Nexon in AMT has the same variants except XE and has a 'A' added to the variant (XZA+, XMA). The vehicle has three driving modes City, Eco & Sports.[7] In 2018, Tata added a sunroof option.[8]</p>
             <h3><b>perday 500/-</b></h3>
            </div>
         
      </div>
  </div>
</div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let img of images">
      <div class="card">
        
        <div class="card">
            
            <div class="card-body">
              <!-- <a [routerLink]="['/tata', img.id]"> -->
              <img src="{{img.imgsrc}}" class="card-img-top" alt="">
  
  
              <!-- <h5 class="card-title">{{img.id}}</h5> -->
              <!-- <p class="card-title">{{img.name}}</p> -->
              <!-- <p class="card-text">{{prod.text}}</p> -->
              <!-- <p class="card-text"><strong>Price: {{prod.price}}</strong></p>  -->
               <!-- <a href="#" class="btn btn-primary">Add to Cart</a> -->
            </div>
          </div> 
      </div>
      </div>
    </div>