/* .container {
    display: flex;
  }
  
  #image-side {
    flex: 1;
  
  }
  
  #image-side img {
    width: 100%; 
    height: auto; 
  }
  
  #text-side {
    flex: 1;
    padding: 0 20px; 
  }
  
  .theory {
    margin-bottom: 20px;
  }
  
  .theory h3 {
    color: #333;
  }
  
  .theory p {
    color: #555;
  } */