.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .background-image {
    /* background-image: url('path/to/your/background-image.jpg'); */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust height as needed */
    color: white;
    text-align: center;
    padding-top: 100px; /* Adjust top padding to center content vertically */
  }
  .nav-item{
    text-decoration: #333;
  }
  