<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <!-- <img src="assets/Images/logo3.jpeg" alt="Logo Image" height="70" width="140"  class="d-inline-block align-text-top"> -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <form class="d-flex">
          <ul class="navbar-nav me-auto">
            <img src="assets/Images/logo3.jpeg" alt="Logo Image" height="70" width="140"  class="d-inline-block align-text-top">
            <li class="nav-item"  >
                <!-- <img src="assets/Images/logo3.jpeg" alt="Logo Image" height="70" width="140"  class="d-inline-block align-text-top"> -->
              <a class="nav-link active" routerLink="/home1">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/register">Register</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>
  