<div class="row"  style="margin-top: 5%;">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let img of images">
      <div class="card" >
        <div class="card-body" >
          <!-- Use routerLink directive to navigate to the destination page with the image id as a parameter -->
          <a [routerLink]="['/tata', img.id]">
            
            <img src="{{img.imgSrc}}" class="card-img-top" alt="Product Image">
          </a>
          <!-- <a [routerLink]="['/tata', img.id]">
            <img src="{{img.imgSrc}}" class="card-img-top" alt="Product Image">
          </a> -->
          <h5 class="card-title">{{img.id}}</h5>
          <p class="card-title">{{img.name}}</p>
        </div>
      </div> 
    </div>
  </div>

  <div class="container" style="background-color: blanchedalmond;"></div>
<div class="footer mt-5 bg-dark">
  <img class="img" src="assets/images/logo.jpeg" class="d-block w-10" alt="" style="height: 50px;">
      
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-md-3">
             
          </div>
           
          <div class="col-sm-6 col-md-3">
              
          </div>
           
          <div class="col-sm-6 col-md-3">
              <h6 style="color: whitesmoke;">
                  Browse by Brand<br>
                  View all Stock<br>
                  
               
                  Services<br>
                
                  Car Servicing/Bodyshop
              </h6>
          </div>
         
          <div class="col-sm-6 col-md-3">
              <h6 style="color: whitesmoke;">
                <a routerLink="/home1">XCars</a><br>
                  <a routerLink="/about">About</a><br>
                  <a routerLink="/about">CustomerReviews</a><br>
                  <a routerLink="/terms">TermsConditions</a><br>
                  <a routerLink="/privacy">Privacy</a><br>
                  <!-- Blogs<br> -->
                  <a routerLink="/bookings">Career</a><br>
              </h6>
          </div>
      </div>
  </div>
  <!-- style="color: whitesmoke; text-decoration: none;"> -->
  <!-- <p style="color:white; text-align:center">(c) Copyrights 2020 TATA Motors Private Limited. All rights reserved</p> -->
</div>
