<h3 style="margin-top: 5%;"><b>Priceline.com LLC Web Site Terms & Conditions</b></h3>
<h3><b>Agreement between User and priceline.com LLC</b></h3>
<p>Priceline.com is owned and operated by priceline.com LLC ("priceline.com", "Priceline", or "we"). This agreement describes the terms and conditions applicable to the services available on or through the Priceline website, mobile website, and mobile and tablet applications (collectively referred to as the "Site"), and details your responsibilities, thereby limiting the liability of priceline.com and its third-party suppliers. These suppliers include, without limitation, the airlines, hotels, rental car companies and other suppliers that provide travel or other services through this Site (such third parties collectively referred to as the "Travel Service Providers"). The Site is intended for personal, noncommercial use.
</p><br>
<p><b>BEFORE submitting an account registration form and/or using any of the services on the Site, please read this Agreement carefully.</b> By accessing any area of this Site, users ("users" or "you") agree to be legally bound without limitation, qualification, or change and to abide by these Terms and Conditions, which will constitute our agreement ("Agreement"). You should also read our Privacy Policy, which governs your use of this Site and is referenced in this agreement. If you do not agree with any part of this Agreement, you must discontinue use of this Site. Priceline reserves the right, in its sole discretion, to amend, modify, or alter this Agreement at any time by posting the amended terms on this Site. We recommend that you review these Terms and Conditions periodically. The amended terms shall be effective from and after the date that they are posted on the Site. Additional terms may apply when you book services or participate in sweepstakes or other promotions available on priceline.com.</p>
<h3><b>Table of Contents</b></h3><br>
<h4><b>PART I: Legal Action</b></h4><br>
<p>Arbitration and Dispute Resolution</p>
  <p> Disclaimer of Warranties</p> 
  <p>    General Limitation of Liability</p> 
  <p>   Indemnification and Chargebacks</p> 
  <p>   Trademark and Copyright Notice</p> 
  <p>  Claims of Copyright Infringement</p>
