<div class="container">
    <h2 style="margin-top: 5%;">Orders</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Pickup Date</th>
                <th>Pickup Time</th>
                <th>Return Date</th>
                <th>Return Time</th>
                <th>Car Type</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{ order.username }}</td>
                <td>{{ order.pickupdate }}</td>
                <td>{{ order.pickuptime }}</td>
                <td>{{ order.returndate }}</td>
                <td>{{ order.returntime }}</td>
                <td>{{ order.carType}}</td>
                <!-- <td><button class="delete-button" (click)="deleteElement(order.id)">Delete</button></td> -->
            </tr>
        </tbody>
    </table>
</div>



<!-- <script>
  function deleteElement() {
    var element = document.getElementById("elementToDelete");
    element.parentNode.removeChild(element);
  }
</script> -->
<!-- <div class="footer mt-5 bg-dark">
  <img class="img" src="assets/images/logo.jpeg" class="d-block w-10" alt="" style="height: 50px;">
      
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-md-3">
             
          </div>
           
          <div class="col-sm-6 col-md-3">
              
          </div>
           
          <div class="col-sm-6 col-md-3">
              <h6 style="color: whitesmoke;">
                  Browse by Brand<br>
                  View all Stock<br>
                  
               
                  Services<br>
                
                  Car Servicing/Bodyshop
              </h6>
          </div>
         
          <div class="col-sm-6 col-md-3">
              <h6 style="color: whitesmoke;">
                <a routerLink="/home">XCars</a><br>
                  <a routerLink="/about">About</a><br>
                  <a routerLink="/about">Reviews</a><br>
                  <a routerLink="/terms">TermsConditions</a><br>
                  <a routerLink="/privacy">PrivacyPolocy</a><br>
                   Blogs<br> -->
                  <!-- <a routerLink="/bookings">Career</a><br>
              </h6>
          </div>
      </div>
  </div>
 
</div>  -->