.container {
    width: 90%;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.card {
    width: 500px;
    height: 300px;
    /* border: 1px solid #ccc; */
}

.card-img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

form {
    width: 500px;
    height: 300px;
    /* border: 1px solid #ccc; */
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.input-group span {
    margin-right: 10px;
}

.form-control {
    width: 100%;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.register {
    margin-top: 30px;
}

.register a {
    color: #007bff;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}
