
<div class="container">
  <div class="card" >
    <img src="assets/Images/loginimage.avif" class="card-img" >
</div>
 
<!-- <form #loginForm="ngForm" (ngSubmit)="loginvalidate(loginForm)" novalidate>
   
    <div class="input-group">
      <span><i class="glyphicon glyphicon-user"></i></span>
      email <input type="text" class="form-control" name="emailid" ngModel
      #emailid="ngModel" placeholder="emailid" required minlength="6" maxlength="20"/>
      <div *ngIf="emailid.errors?.['required'] && emailid.touched">
        <p style="color: brown;">Please enter valid email</p>
      </div>
      <div *ngIf="emailid.errors?.['minlength'] && emailid.touched">
        <p style="color: brown;">Please enter at least 6 characters for email</p>
      </div>
    </div>
    
  
    <div class="input-group">
      <span class="glyphicon glyphicon-lock"></span>
      password <input type="password" class="form-control" name="password" ngModel 
      #password="ngModel" placeholder="password" required minlength="8" maxlength="16"/><br>
      <div *ngIf="password.errors?.['minlength'] && password.touched">
        <p style="color: brown;">Please enter at least 8 characters for password</p>
      </div>
      <div *ngIf="password.errors?.['required'] && password.touched">
        <p style="color: brown;">Please enter valid password</p>
      </div>
      <ngx-recaptcha2 [siteKey]="sitekey"></ngx-recaptcha2><br>
    </div>
    
 
    <button type="submit" >login</button> <br>
    
  
    <div class="register">
      <span class="register">Don't have an account?
        <a href="register">Register</a>
      </span>
    </div>
  </form><br> -->
  

  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3><span class="glyphicon glyphicon-lock"></span> Login</h3>
            </div>
            <div class="card-body">
              <form #LoginForm="ngForm" (ngSubmit)="loginValidate(LoginForm.value)">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="email" id="email" class="form-control" placeholder="" name="email" [(ngModel)]="email" required minlength="8" maxlength="20">
                  </div>
                  <div *ngIf="LoginForm.controls['email'].errors?.['required'] && LoginForm.controls['email'].touched"><p style="color:red;">Please enter valid email</p></div>
                  <div *ngIf="LoginForm.controls['email'].errors?.['minlength'] && LoginForm.controls['email'].touched"><p style="color: red;">Please enter at least 8 characters for email</p></div>
                  <div *ngIf="LoginForm.controls['email'].errors?.['maxlength'] && LoginForm.controls['email'].touched"><p style="color:red;">Please enter at most 20 characters for email</p></div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" placeholder="" name="password" [(ngModel)]="password" required minlength="8" maxlength="10">
                  </div>
                  <div *ngIf="LoginForm.controls['password'].errors?.['required'] && LoginForm.controls['password'].touched"><p style="color: red;">Please enter valid password</p></div>
                  <div *ngIf="LoginForm.controls['password'].errors?.['minlength'] && LoginForm.controls['password'].touched"><p style="color: red;">Please enter at least 8 characters for password</p></div>
                  <div *ngIf="LoginForm.controls['password'].errors?.['maxlength'] && LoginForm.controls['password'].touched"><p style="color:red;">Please enter at most 10 characters for password</p></div>
                </div>
                <button type="submit"  value="loginValidate" class="btn btn-primary btn-block">Login</button>
                <div class="register">
                  <span class="register">Dont have an account?
                  <a href="register">Register</a>
                </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </body>
  </html>
    
    
