/* .background-image {
  background-image: url('https://evolve.tatamotors.com/images/evolve/landing-page-banner/banner.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-form {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 10px;
} */
.background-image {
  position: relative;
  width: 100%;
  height: auto; 
  overflow: hidden;
}

.background-img {
  width: 100%;
  height: auto;
}

.booking-form-container {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
}
/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  transition: background-color 0.3s ease-in-out;
}

.footer img {
  height: 50px;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer .row {
  display: flex;
  justify-content: space-between;
}

.footer .col-sm-6 {
  flex-basis: 50%;
}

.footer h6 {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  transition: color 0.3s ease-in-out;
}

.footer a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  transition: color 0.3s ease-in-out;
}

/* Background Image Container */
.background-image {
  position: relative;
}

.background-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.booking-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.booking-form {
  text-align: center;
}

.booking-form h2 {
  margin-bottom: 20px;
}

.booking-form label {
  display: block;
  margin-bottom: 10px;
}

.booking-form input,
.booking-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.booking-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.booking-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Hover Effects */
.footer a:hover,
.footer h6:hover {
  color: #ffa500;
}

.background-image:hover .background-img {
  transform: scale(1.1);
}

.booking-form-container:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transform: translate(-50%, -50%) scale(1.05);
}

.booking-form input:focus,
.booking-form select:focus {
  border-color: #007bff;
}

.booking-form button:hover {
  background-color: #0056b3;
}
/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  transition: background-color 0.3s ease-in-out;
}

.footer img {
  height: 50px;
}

.footer .container {
  max-width: 800px; /* Decrease max-width for smaller container */
  margin: 0 auto;
}

.footer .row {
  display: flex;
  justify-content: space-between;
}

.footer .col-sm-6 {
  flex-basis: 50%;
}

.footer h6 {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  transition: color 0.3s ease-in-out;
}

.footer a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  transition: color 0.3s ease-in-out;
}

/* Background Image Container */
.background-image {
  position: relative;
}

.background-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.booking-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.booking-form {
  text-align: center;
}

.booking-form h2 {
  margin-bottom: 20px;
}

.booking-form label {
  display: block;
  margin-bottom: 10px;
}

.booking-form input,
.booking-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.booking-form button {
  width: 90%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.booking-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Hover Effects */
.footer a:hover,
.footer h6:hover {
  color: #ffa500;
}

.background-image:hover .background-img {
  transform: scale(1.1);
}

.booking-form-container:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transform: translate(-50%, -50%) scale(1.05);
}

.booking-form input:focus,
.booking-form select:focus {
  border-color: #007bff;
}

.booking-form button:hover {
  background-color: #0056b3;
}
