<div class="background-image">

    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="width: 100% ;height: 500x;" >
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" style="border-radius: 25px; height: 30%; top: 0;">
          <div class="carousel-item active">
            <img src="https://evolve.tatamotors.com/images/evolve/landing-page-banner/banner.jpg" class="d-block w-100" alt="..." >
          </div>
          <div class="carousel-item">
            <img src="https://s7ap1.scene7.com/is/image/tatapassenger/tigor-ev-banner-home-new?$B-BG-1920-980-D$&fit=crop&fmt=webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://cars.tatamotors.com/content/dam/tml/pv/products/lifestyle-images/safari-product-lifestyle-resized.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </div> -->
  <div class="background-image" style="margin-top: 3%;">
    <img src="https://evolve.tatamotors.com/images/evolve/landing-page-banner/banner.jpg" class="background-img" alt="Background Image">
    <div class="booking-form-container">
        <div class="booking-form">
            <h2>Car Rental Booking</h2>
            <form (ngSubmit)="submitBookingForm()" #bookingForm="ngForm">
              <div>
                <label for="username">Your Name:</label>
                <input type="text" id="username" name="username" [(ngModel)]="booking.username" required>
            </div>
            
            <div>
                <label for="pickupDate">Pickup Date:</label>
                <input type="date" id="pickupdate" name="pickupdate" [(ngModel)]="booking.pickupdate" required>
            </div>
    
            <div>
                <label for="pickupTime">Pickup Time:</label>
                <input type="time" id="pickuptime" name="pickuptime" [(ngModel)]="booking.pickuptime" required>
            </div>
    
            <div>
                <label for="returnDate">Return Date:</label>
                <input type="date" id="returndate" name="returndate" [(ngModel)]="booking.returndate" required>
            </div>
    
            <div>
                <label for="returnTime">Return Time:</label>
                <input type="time" id="returntime" name="returntime" [(ngModel)]="booking.returntime" required>
            </div>
    
            <div>
                <label for="carType">Car Type:</label>
                <select id="cartype" name="cartype" [(ngModel)]="booking.cartype" required>
                    <option value="compact">Compact</option>
                    <option value="sedan">Sedan</option>
                    <option value="suv">SUV</option>
                </select>
            </div>
    
            <button type="submit" [disabled]="bookingForm.invalid">Book Now</button>
        
            </form>
        </div>
    </div>
</div>
<div class="container" style="background-color: blanchedalmond;"></div>
<div class="footer mt-5 bg-dark">
  <img class="img" src="assets/images/logo.jpeg" class="d-block w-10" alt="" style="height: 50px;">
      
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-md-3">
             
          </div>
           
          <div class="col-sm-6 col-md-3">
              
          </div>
           
          <div class="col-sm-6 col-md-3">
              <h6 style="color: whitesmoke;">
                  Browse by Brand<br>
                  View all Stock<br>
                  
               
                  Services<br>
                
                  Car Servicing/Bodyshop
              </h6>
          </div>
         
          <div class="col-sm-6 col-md-3">
              <h6 style="color: whitesmoke;">
                <a routerLink="/home1">XCars</a><br>
                  <a routerLink="/about">About</a><br>
                  <a routerLink="/about">CustomerReviews</a><br>
                  <a routerLink="/terms">TermsConditions</a><br>
                  <a routerLink="/privacy">Privacy</a><br>
                  <!-- Blogs<br> -->
                  <a routerLink="/bookings">Career</a><br>
              </h6>
          </div>
      </div>
  </div>
  <!-- style="color: whitesmoke; text-decoration: none;"> -->
  <!-- <p style="color:white; text-align:center">(c) Copyrights 2020 TATA Motors Private Limited. All rights reserved</p> -->
</div>

  
  
