
<!-- <div class="row">
    
    <div class="card">
        <div class="card-body d-flex">
            <div class="image-container">
                <img src="https://www.autodevot.com/wp-content/uploads/2018/06/Mahindra-TUV300-Plus.jpg">
            </div>
            <div class="content">
               
<p>Mahindra & Mahindra Limited (M&M) is an Indian multinational automotive manufacturing corporation headquartered in Mumbai. It was established in 1945 as Mahindra & Mohammed and later renamed Mahindra & Mahindra. Part of the Mahindra Group, M&M is one of the largest vehicle manufacturers by production in India. Its unit, Mahindra Tractors, is the largest manufacturer of tractors in the world by volume.[3] It was ranked 17th on a list of top companies in India by Fortune India 500 in 2018.[4] Its major competitors in the Indian market include Maruti Suzuki India and Tata Motors.[5] Dr. Anish Shah is the current CEO and Managing Director of Mahindra & Mahindra.[6]</p>
           <h3><b>perday 2000/-</b></h3>
          </div>
       
    </div>
</div>
</div>
<div class="row">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let img of images">
    <div class="card">
      
      <div class="card">
          
          <div class="card-body">
            
            <img src="{{img.imgsrc}}" class="card-img-top" alt="">


            
          </div>
        </div> 
    </div>
    </div>
  </div> -->
