/* Base styles */
form {
    max-width: 400px; /* Set the maximum width of the form */
    margin: 0 auto; /* Center align the form */
}

div {
    margin-bottom: 15px; /* Add some spacing between form elements */
    
}

label {
    display: block; /* Make labels block elements for better spacing */
    font-weight: bold; /* Make labels bold */
}
h2{
    text-align: center;
    margin-bottom: 25px;
}

input[type="date"],
input[type="time"],
select {
    width: 100%; /* Make form elements fill the container */
    padding: 8px; /* Add padding to form elements */
    border: 1px solid #ccc; /* Add a border to form elements */
    border-radius: 5px; /* Add border radius for rounded corners */
}

button {
    width: 100%; /* Make button fill the container */
    padding: 10px; /* Add padding to button */
    background-color: #007bff; /* Set button background color */
    color: #fff; /* Set text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Transition effects */
input[type="date"],
input[type="time"],
select,
button {
    transition: all 0.3s ease; /* Add transition effect */
}

/* Box shadow and hover effects */
input[type="date"]:focus,
input[type="time"]:focus,
select:focus,
button {
    width: 100%; /* Set width to 100% */
    padding: 10px; /* Add padding */
    background-color: #007bff; /* Set background color */
    color: #fff; /* Set text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s; /* Add transition */
}

button:hover {
    background-color: #0056b3; /* Change background color on hover */
}

/* Disable button when form is invalid */
button:disabled {
    background-color: #ccc; /* Change background color when disabled */
    cursor: not-allowed; /* Change cursor to not-allowed */
}

button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow on focus or hover */
    outline: none; /* Remove outline */
}

button:hover {
    background-color: #0056b3; /* Change button background color on hover */
}

/* Disable button when form is invalid */
button:disabled {
    background-color: #ccc; /* Change button background color when disabled */
    cursor: not-allowed; /* Change cursor to not-allowed when disabled */
}



  