<div>
    <h2>Car Rental Booking</h2>
    <form (ngSubmit)="submitBookingForm()" #bookingForm="ngForm">
        <div>
            <label for="username">Your Name:</label>
            <input type="text" id="username" name="username" [(ngModel)]="booking.username" required>
        </div>
        
        <div>
            <label for="pickupDate">Pickup Date:</label>
            <input type="date" id="pickupdate" name="pickupdate" [(ngModel)]="booking.pickupdate" required>
        </div>

        <div>
            <label for="pickupTime">Pickup Time:</label>
            <input type="time" id="pickuptime" name="pickuptime" [(ngModel)]="booking.pickuptime" required>
        </div>
        <!-- <div>
            <label for="location">city:</label>
            <select name="location" ngModel required>
                <option *ngFor="let city of cities" value="{{city.name}}">{{city.name}}</option>
                
            </select>
        </div> -->

        <div>
            <label for="returnDate">Return Date:</label>
            <input type="date" id="returndate" name="returndate" [(ngModel)]="booking.returndate" required>
        </div>

        <div>
            <label for="returnTime">Return Time:</label>
            <input type="time" id="returntime" name="returntime" [(ngModel)]="booking.returntime" required>
        </div>

        <div>
            <label for="carType">Car Type:</label>
            <select  type="time" id="carType" name="carType" [(ngModel)]="booking.carType" required>
                <option value="Tata Motors">Tata Motors</option>
                <option value="suzuki">suzuki</option>
                <option value="nexon">nexon</option> 
                <option value="mahindra">mahindra</option> 
                <option value="Alto">Alto</option> <!-- Fixed typo here -->
                <option value="Hyundai">Hyundai</option> <!-- Corrected spelling here -->
            </select> 
        </div>
        

        <button type="submit" [disabled]="bookingForm.invalid" value="submitBookingForm">Book Now</button>
    </form>
</div>


<div class="footer mt-5 bg-dark">
    <img class="img" src="assets/images/logo.jpeg" class="d-block w-10" alt="" style="height: 50px;">
        
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
               
            </div>
             
            <div class="col-sm-6 col-md-3">
                
            </div>
             
            <div class="col-sm-6 col-md-3">
                <h6 style="color: whitesmoke;">
                    Browse by Brand<br>
                    View all Stock<br>
                    
                 
                    Services<br>
                  
                    Car Servicing/Bodyshop
                </h6>
            </div>
           
            <div class="col-sm-6 col-md-3">
                <h6 style="color: whitesmoke;">
                  <a routerLink="/home1">XCars</a><br>
                    <a routerLink="/about">About</a><br>
                    <a routerLink="/about">CustomerReviews</a><br>
                    <a routerLink="/terms">TermsConditions</a><br>
                    <a routerLink="/privacy">Privacy</a><br>
                    <!-- Blogs<br> -->
                    <a routerLink="/bookings">Career</a><br>
                </h6>
            </div>
        </div>
    </div>
    <!-- style="color: whitesmoke; text-decoration: none;"> -->
    <!-- <p style="color:white; text-align:center">(c) Copyrights 2020 TATA Motors Private Limited. All rights reserved</p> -->
  </div>
  
  