<!-- <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="home1">
      <img src="assets/Images/logo3.jpeg" alt="Logo Image" height="40" width="140"  class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
      </ul>
      <form class="d-flex">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" routerLink=" ">Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="login">Login</a>
            </li>
         <li class="nav-item">
              <a class="nav-link" routerLink="tata">tatamotors</a>
            </li>  -->
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/cars">Car Models</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/booking">Bookings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/orders">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Logout</a>
            </li>
          </ul>
      </form>
    </div>
  </div>
</nav> --> 


<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-red" style="background-color:antiquewhite;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home1"><img src="assets/Images/logo3.jpeg" style="margin-top: auto;height: 40px; width: 70px;"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="nav flex-row justify-content" id="navitems">
        <!-- <li class="nav-item" >
          <a class="nav-link" routerLink="buy" >Buy Car</a>
        </li> -->
        <!-- <li class="nav-item" >
          <a class="nav-link" routerLink="buy" >Buy Car</a>
        </li> -->
        <!-- <li class="nav-item" >
          <a class="nav-link" routerLink="admincars" >Show Cars Details</a>
        </li> -->
        
        
        
        <li class="nav-item"  *ngIf="!loginStatus">
          <a class="nav-link"routerLink="cars">CarModels</a>
        </li>
        <li class="nav-item"   *ngIf="!loginStatus">
          <a class="nav-link" routerLink="about" >About</a>
        </li>
        <li class="nav-item"  >
          <a class="nav-link" routerLink="booking" >Bookings</a>
        </li>
        <li class="nav-item" *ngIf="adminEmail">
          <a class="nav-link" routerLink="customers">Show Customers</a>
        </li>
        <!-- <li class="nav-item" *ngIf="adminEmail">
          <a class="nav-link" routerLink="admincars">orders</a>
        </li> -->
        <li class="nav-item" *ngIf="adminEmail">
          <a class="nav-link" routerLink="orders">orders</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>
        <ul class="navbar-nav me-auto" *ngIf="isLoggedIn; else loginSection">
          <li class="nav-item">
            <a class="nav-link" routerLink="logout" (click)="logout()">Logout</a>
          </li>
        </ul>
        <ng-template #loginSection>
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="login" (click)="login()">Login</a>
            </li>
          </ul>
        </ng-template>
       
        <!-- <li class="nav-item" >
          <a class="nav-link" routerLink="admincars">Admincars</a>
        </li> -->
        <!-- <div class="dropdown mx-5" >
          <button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-user" routerLink="logout"></span>
          </button> -->
          <!-- <ul class="dropdown-menu dropdown-menu-light bg-red" aria-labelledby="dropdownMenu1"> -->
            <!-- <div >
            <li class="nav-item" >
               <h5 *ngIf="loginStatus">{{userEmail}}</h5> -->
            <!-- </li>
          </div>
            <li class="nav-item" >
             
            </li> -->
            <!-- <div class="dropdown mx-5" *ngIf="loginStatus">
              <button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-user"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-light bg-red" aria-labelledby="dropdownMenu1">
                <div *ngIf="loginStatus">
                <li class="nav-item" *ngIf="userEmail" >
                  <h5 *ngIf="loginStatus">{{userEmail}}</h5>
                </li>
              </div>
                <li class="nav-item" *ngIf="adminEmail" >
                  <h5 *ngIf="loginStatus">{{adminEmail}}</h5>
                </li>
              
    
          
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item" >
              <a class="nav-link" routerLink="login">Logout</a>
            </li>
          </ul> -->
        <!-- </div> - -->
      
      
      <!-- </ul> --> 
      
      <div class="dropdown">
        <!-- <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          
        </button> -->
       
         
          <!-- <ul class="dropdown-menu dropdown-menu-light bg-red" aria-labelledby="dropdownMenu1">
            <div *ngIf="loginStatus">
            <li class="nav-item" *ngIf="userEmail" >
              <h5 *ngIf="loginStatus">{{userEmail}}</h5>
            </li>
          </div>
            <li class="nav-item" *ngIf="adminEmail" >
              <h5 *ngIf="loginStatus">{{adminEmail}}</h5>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item" >
              <a  class="dropdown-item"  routerLink="login">Logout</a>
            </li>
        </ul> -->


        <div >
          <li class="nav-item" >
             <h5 *ngIf="loginStatus">{{userEmail}}</h5> 
           </li>
        </div>
       
           <!-- <div class="dropdown mx-5" *ngIf="loginStatus">
            <button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="glyphicon glyphicon-user"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-light bg-red" aria-labelledby="dropdownMenu1">
              <div *ngIf="loginStatus">
              <li class="nav-item" *ngIf="userEmail" >
                <h5 *ngIf="loginStatus">{{userEmail}}</h5>
              </li>
            </div>
              <li class="nav-item" *ngIf="adminEmail" >
                <h5 *ngIf="loginStatus">{{adminEmail}}</h5>
              </li> -->
            
  
        
          <!-- <li><hr class="dropdown-divider"></li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="login">Logout</a>
          </li> -->
        <!-- </ul> 
       </div>  -->
      <!-- </div> -->