<div class="container">
    <h2 style="margin-top: 5%;">Customers Details</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>City</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.gender }}</td>
                <td>{{ customer.city }}</td>
                <td>{{ customer.mobile }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.password }}</td>
               
                <td><button class="delete-button" (click)="deleteElement(customer.id)">Delete</button></td>

              </tr>
    </table>
    
  </div>
  <script>
    function deleteElement() {
      var element = document.getElementById("elementToDelete");
      element.parentNode.removeChild(element);
    }
  </script>
  
