/* Style for table */
.container {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Style for table header */
  thead {
    background-color: #f2f2f2; /* Light gray background */
  }
  
  /* Style for table header cells */
  th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Bottom border */
  }
  
  /* Style for table data rows */
  tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row background color */
  }
  
  /* Style for table data cells */
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Bottom border */
  }
  
  /* Style for delete button */
  .delete-button {
    background-color: #ff6666; /* Red background */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #ff4d4d; /* Darker red on hover */
  }
  