<div class="container">
  <h2 style="margin-top: 5%;">Orders</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Pickup Date</th>
        <th>Pickup Time</th>
        <th>Return Date</th>
        <th>Return Time</th>
        <th>Car Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.username}}</td>
        <td>{{order.pickupdate}}</td>
        <td>{{order.pickuptime}}</td>
        <td>{{order.returndate}}</td>
        <td>{{order.returntime}}</td>
        <td>{{order.cartype}}</td>
        <td><button class="delete-button" (click)="deleteOrder(order.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<script>
  function deleteElement() {
    var element = document.getElementById("elementToDelete");
    element.parentNode.removeChild(element);
  }
</script>
