
.container {
    width: 80%;
    margin: 0 auto;
  }
  
 
  .container h2 {
    text-align: center;
    color: #333;
  }
  
 
  .container ul {
    list-style-type: none;
    padding: 0;
  }
  
 
  .container li {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
    margin-top: 5%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }

  .delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 0;
    cursor: pointer;
    border-radius: 5px;
    
  }