<div class="footer mt-5 bg-dark">
    <img class="img" src="assets/images/logo.jpeg" class="d-block w-10" alt="" style="height: 50px;">
        
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
               
            </div>
             
            <div class="col-sm-6 col-md-3">
                
            </div>
             
            <div class="col-sm-6 col-md-3">
                <h6 style="color: whitesmoke;">
                    Browse by Brand<br>
                    View all Stock<br>
                    
                 
                    Services<br>
                  
                    Car Servicing/Bodyshop
                </h6>
            </div>
           
            <div class="col-sm-6 col-md-3">
                <h6 style="color: whitesmoke;">
                  <a routerLink="/home1">XCars</a><br>
                    <a routerLink="/about">About</a><br>
                    <a routerLink="/about">CustomerReviews</a><br>
                    <a routerLink="/terms">TermsConditions</a><br>
                    <a routerLink="/privacy">Privacy</a><br>
                    <!-- Blogs<br> -->
                    <a routerLink="/bookings">Career</a><br>
                </h6>
            </div>
        </div>
    </div>
    <!-- style="color: whitesmoke; text-decoration: none;"> -->
    <!-- <p style="color:white; text-align:center">(c) Copyrights 2020 TATA Motors Private Limited. All rights reserved</p> -->
  </div>