<form class="container" #RegForm="ngForm" (ngSubmit)="registerValid(RegForm.value)"> 
  <h1>REGISTRATION</h1>
  <!-- <div class="row"> -->
      <!-- <div class="col-xs-6"> -->
          
          <!-- <label>Id:</label> -->
          <tr>
            <td>
          <div class="input-group">
              
              <!-- Id:<input type="text" class="form-control" name="id" ngModel #id="ngModel" placeholder="id" required >
              <div *ngIf="id.errors?.['required']&&id.touched">
                <p  style="color: brown;">Please enter valid Aadharnumber</p> -->
              <!-- </div> -->
          </div>
        </td>
        </tr>
        <tr>
          <td>
          <!-- <label>Name:</label> -->
          <div class="input-group">
             
              Name:<input type="text" class="form-control" name="name" ngModel #name="ngModel">
          </div>
        </td>
      </tr>
          <!-- <label>Salary:</label> -->
          <!-- <div class="input-group">
              <span class="input-group-addon"><span  class="glyphicon glyphicon-user"></span></span>
              Salary: <input type="text" class="form-control" name="salary" ngModel #salary="ngModel">
          </div> -->
          <!-- <label>Gender:</label> -->
          <!-- <div class="input-group">
              <span class="input-group-addon"><span  class="glyphicon glyphicon-user"></span></span>
              Gender: <input type="text" class="form-control" name="gender" ngModel #gender="ngModel">
          </div> -->
          <tr>
            <td>
          <div class="input-group">
           
            <!-- <label for="gender">Gender:</label> -->
         Gender<select class="form-control" name="gender" id="gender" ngModel #gender="ngModel">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </div>
      </td>
    </tr>
        <tr>
          <td>
          <!-- <label>City: </label> -->
          <div class="input-group">
      
              City: <input type="text" class="form-control" name="city" ngModel #city="ngModel">
          </div>
        </td>
      </tr>
          <tr>
            <td>
          <!-- <label>ContactNo:</label> -->
          <div class="input-group">
              
              ContactNo:<input type="text" class="form-control" name="mobile" ngModel #mobile="ngModel"  placeholder="" required ><br>
             
              <div *ngIf="mobile.errors?.['required']&&mobile.touched">
                <p  style="color: brown;">Please enter valid number</p>
              </div>
          </div>
        </td>
      </tr>
          <tr>
            <td>
          <!-- <label>Email:</label> -->
          <!-- <div class="input-group">
            
            Email:<input type="email" class="form-control" name="email" ngModel 
               #email="ngModel" placeholder="email" required minlength="8" maxlength="20"/><br>
               <div *ngIf="email.errors?.['minlength']&&email.touched">
                 <p  style="color: brown;">Please enter valid email</p>
               </div> -->
               <div class="input-group">
                Email: <input type="email" class="form-control" name="email" ngModel #email="ngModel" placeholder="Enter your email" required>
                <div *ngIf="email.errors?.['required'] && email.touched">
                  <p style="color: brown;">Email is required</p>
                </div>
                <div *ngIf="email.errors?.['email'] && email.touched">
                  <p style="color: brown;">Please enter a valid email address</p>
                </div>
              </div>
              
                
              
           <!-- </div> -->
          </td>
        </tr>
           <tr>
            <td>
<!-- 
          <label>password:</label> -->
          <div class="input-group">
            <span class="glyphicon glyphicon-lock"></span>
            password:<input type="password" class="form-control" name="password" ngModel 
            #password="ngModel" placeholder="" required minlength="8" maxlength="16"/><br>
            <div *ngIf="password.errors?.['minlength']&&password.touched">
              <p  style="color: brown;">Please enter at least 8 characters for password</p>
            </div>
            <div *ngIf="password.errors?.['required']&&password.touched">
              <p  style="color: brown;">Please enter valid password</p>
            </div>
        </div>
      </td>
    </tr>
         
       

      <!-- </div> -->
  <!-- </div> -->
  <!-- <ngx-recaptcha2 [siteKey]="sitekey"></ngx-recaptcha2> -->
  <button type="submit" value="registerValid" class="btn btn-primary" >Submit</button><br>
  <br/><p>Already registered? <a href="login">Login</a></p>
</form>